.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-image: url("../css/images/landing_page.jpg");
    background-size: cover;
}